input.form-control {
  text-align: center
}

label.form-label {
  text-align: left;
  font-size: 0.8em;
  line-height: 0;
}

.card-title, small {
  text-align: center;
}

.inputError {
  border-color: red !important;
}

.form-group {
  margin-bottom: 0.5rem;
}