input.form-control {
  text-align: left;
  background-color:#d3d3d34f;
  color:black;
  font-size: 0.8rem
}

label.form-label {
  text-align: left;
  font-size: 0.8em;
  line-height: 0;
}

.card-title, small, h1 {
  text-align: center;
}

.inputError {
  border-color: red !important;
}

.form-group {
  margin-bottom: 0.5rem;
}

button.submit_btn {
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,123,255,0.7); 
  box-shadow: 0px 3px 15px 0px rgba(0,123,255,0.7);
}